body {
    min-width: 1200px;
}

/* Fixed Heading / Footer */
#mainNav,
#searchBar,
#footer {
    width: 100%;
    position: fixed;
}

#searchBar {
    min-width: 1080px;
}

#chart {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#mainNav {
    z-index: 10;
    background-color: rgb(99, 5, 2);
    padding: 10px;
    top: 0%;
    height: 30px;
    position: fixed;
}

#mainNav>div>ul>li>a {
    color: #d0d0d0;
}

#mainNav>div>ul>li>a:hover {
    color: white;
}

#searchBar {
    z-index: 10;
    top: 30px;
    height: 51px;
    left: 0px;
    right: 0px;
    background-color: white;
}

#searchBar>label,
input,
select {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}

#footer {
    z-index: 10;
    height: 25px;
    bottom: 0px;
    background-color: grey;
}

/* Search Table Results */
#searchResults {
    z-index: 0;
    margin-top: 80px;
    overflow-y: auto;
    bottom: 2.5%;
}

#searchResults thead th {
    position: sticky;
    top: 80px;
}

table {
    border-collapse: collapse;
}

tbody {
    margin-top: 10%;
}

th {
    background: white;
}

#topResults {
    margin-top: 29px;
    overflow-y: auto;
    bottom: 2.5%;
}

#topResults thead th {
    position: sticky;
    top: 29px;
}

@media (max-width: 1199px) {

    .form-inline input {
        margin: 10px 0;
        width: 100%;
        z-index: 1;
    }

    .form-inline {
        align-items: left;
        height: 100vh;
        position: sticky;
        overflow-x: hidden;
        z-index: 1;
        background: white;
        padding: 8px 0;
        display: block;
        margin-top: 30px;
        width: 200px;
    }

    #searchResults {
        align-items: right;
        padding: 0px 10px;
        margin-top: 20px;
        overflow-y: auto;
        bottom: 2.5%;
        margin-left: 250px;
    }

    #searchResults thead th {
        position: sticky;
        top: 40px;
    }
}